.matrix-bg {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #000;
  z-index: 0;
}

.matrix-bg::before {
  content: "";
  position: absolute;
  inset: -145%;
  rotate: -45deg;
  pointer-events: none;
  z-index: 0;
  background-image: 
    radial-gradient(2px 50px at 0px 235px, #fff, #0000),
    radial-gradient(2px 50px at 300px 235px, #fff, #0000),
    radial-gradient(1px 1px at 150px 117.5px, #fff 100%, #0000 150%),
    radial-gradient(2px 50px at 0px 150px, #fff, #0000),
    radial-gradient(2px 50px at 300px 150px, #fff, #0000),
    radial-gradient(1px 1px at 150px 75px, #fff 100%, #0000 150%);
  background-size:
    300px 235px,
    300px 235px,
    300px 235px,
    300px 150px,
    300px 150px,
    300px 150px;
  animation: rain 30s linear infinite;
}

@keyframes rain {
  0% {
    background-position:
      0px 220px,
      3px 220px,
      151.5px 337.5px,
      50px 16px,
      53px 16px,
      201.5px 91px;
  }
  to {
    background-position:
      0px 3000px,
      3px 3000px,
      151.5px 3117.5px,
      50px 2416px,
      53px 2416px,
      201.5px 2491px;
  }
}
